.gradient-custom-2 {
    background: #00d2ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #3a7bd5,
        #00d2ff
        ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #3a7bd5,
        #00d2ff
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}
@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
        max-width: 100%;
        max-width: 100%;
    }
}

.preloader {


    background: no-repeat center center;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    
        background: #00d2ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #3a7bd5,
        #00d2ff
        ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #3a7bd5,
        #00d2ff
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login-body {
    background: #00d2ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #3a7bd5,
        #00d2ff
        ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #3a7bd5,
        #00d2ff
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.signup-panel {
    background-image: url("../images/signup-background.png");
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
}
.signup-body {
    background: #00d2ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #3a7bd5,
        #00d2ff
        ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #3a7bd5,
        #00d2ff
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.login-panel {
    background-image: url("../images/signin-background.jpg");
    max-width: 100%;
    max-height: 1000%;
    background-size: cover;
}
.login-panel-employee {
    background-image: url("../images/nuoitomsu.jpg");
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
}


.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
}
label{
    position: absolute;
    height: 100%;
    width: 100%;
    animation: z-index 3520ms linear infinite;
}
@keyframes z-index {
    0%{z-index: 100;}
    100%{z-index: 1;}
}
span{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    animation: animate 880ms cubic-bezier(.445,.05,.55,.95) infinite alternate;
}
@keyframes animate {
    0%{transform: translate(-98%, 0);}
    100%{transform: translate(98%, 0);}
}
label:nth-child(1) span{
    background: linear-gradient(315deg, #0055dd, #0077ff, #66adff);
}
label:nth-child(2) span{
    background: linear-gradient(225deg, #dd0000, #ee3333, #ff7755);
}
label:nth-child(3) span{
    background: linear-gradient(90deg, #007744, #009944, #55bb55);
}
label:nth-child(4) span{
    background: linear-gradient(0deg, #ffaa33, #ffcc00, #ffdd66);
}
label:nth-child(1){
    animation-delay: 2620ms;
    transform: rotate(45deg);
}
label:nth-child(2){
    animation-delay: 1760ms;
    transform: rotate(135deg);
}
label:nth-child(3){
    transform: rotate(225deg);
}
label:nth-child(4){
    animation-delay: 880ms;
    transform: rotate(315deg);
}
